.logo{
    margin: 0px;
    padding: 0px;
    width: 10%;
}
.img-glob{
    background-image: url('https://a0.muscache.com/im/pictures/b65bef33-07be-4c55-b613-bb990193e8f6.jpg?im_q=highq&im_w=720');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    .imgpart2{
        width: 65rem;
        margin-top: 5rem;
        border-radius: 10px;
    }

    .imgpart{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    .titreb{
        font-size: 20px;
    }
    .partgr{
        justify-content: space-between;
    }
    .part2{
        width: 100%;
        height: -50px;
    }
    